{% load i18n cms_tags staticfiles sekizai_tags %}

{% include "djangocms_ace/element.html" with name=variable_name content=content|safe %}

<script type='text/plain' id="{{ variable_name }}_source" >{% autoescape on %}{{ content|safe }}{% endautoescape %}</script>

{% include "djangocms_ace/script.html" %}

{% addtoblock "js" %}
<script src="{% static 'djangocms_ace/js/editor.js' %}"></script>
{% endaddtoblock %}

{% addtoblock "js" %}
<script>
window.djangocms_ace_create_editor(document.getElementById("{{ variable_name }}_source").textContent, {{ opts|safe }},
function(err, editor) {
    window.{{ variable_name}} = editor;
});
</script>
{% endaddtoblock %}